@model ProductsIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    var counter = 0;
  
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row m-4">
    @foreach (var product in Model.Products)
    {

        if (counter != 0 && counter % 4 ==0)
        {
            @:</div>
            @:<div class="row m-4">
        }
        <div class="col-3">
           <partial name="_ProductCard" model="product"/>
        </div>
        counter++;
    }    
</div>
<div>
  <ul class="pagination pagination-lg">
      @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            <li class="page-item @(Model.PagingInfo.CurrentPage == i ? "active":"") "><a class="page-link" asp-action="Index" asp-route-pageNo="@i" asp-route-categoryId="@Model.CategoryId">@i</a></li>
        }
   @*  <li class="page-item active" aria-current="page">
      <span class="page-link">1</span>
    </li> *@
    
    
  </ul>
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.basket').on('click', function () {
                let productId = $(this).data('id');
                $.ajax({
                    url: 'Basket/AddToCard/'+productId,
                    method:'GET',
                    success: function (data) {
                        console.log(data);
                    },
                    error:function(err){
                        console.log('Hata!', err);
                    });
            });
        });
    </script>
}